header {
  display: flex;

  .headerImage {
    flex-grow: 0;
    margin: 0 -30rem 0;
width: 100%;
  }

  .headerNavigation {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0  8.875rem 0 20rem;
  }
}

.logReg {
  font-size: 0.875rem;
  font-family: $font-base;
  text-align: right;
  margin: 2rem 0;

  span {
    padding: 0.5625rem 0.625rem;
  }

  .register {
    border: 0.75px solid $registerBorderColor;
  }
}

.navigationLinks {
  display: flex;

  div {
    padding: 0.5625rem 1.25rem;
    font-family: $font-base;
    color: $buttonBorder;
    font-size: 1.125rem;
    text-align: right;

    &:hover {
      border: 0.75px solid $buttonBorder;
      cursor: pointer;
      padding: 0.5rem 1.2rem;
    }
  }
}

.headerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;

  .title {
    font-size: 2.375rem;
    font-family: $font-base;
    font-weight: 400;
    letter-spacing: -0.76px;
    color: $buttonBorder;
    text-align: center;
    padding-bottom: 1.5625rem;
    line-height: 3.4375rem;
  }
}

.headerButtons {
  padding-top: 4.0625rem;
  display: flex;
  line-height: 45px;

  p {
    padding: 1rem 0.3rem;
    border: 0.75px solid $buttonBorder;
    margin-left: 2.75rem;
    font-size: 2.25rem;
    font-family: $font-base;
    font-weight: 300;
    text-transform: uppercase;
    width: 17rem;
    text-align: center;
  }
}

.hoverLink:hover {
  opacity: 0.5;
}

.giveTheThings {
  color: $textColor;
  border: 0.75px solid $registerBorderColor;
}

.mobileNavigation {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: flex-end;
  background: $registerBorderColor;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;

  .hamburger {
    top: 0;
    margin: 2rem;
  }

  #page-wrap {
    text-align: center;
    overflow: auto;
  }

  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: $boxColor;
    transition: color 0.2s;
    font-family: $font-base;
  }

  .bm-item:hover {
    color: white;
  }

  .bm-burger-button {
    position: fixed;
    width: 2.25rem;
    height: 1.875rem;
    right: 10rem;
    top: 1rem;
  }

  .bm-burger-bars {
    background: $buttonBorder;
  }

  .bm-cross-button {
    height: 1.5rem;
    width: 1.5rem;
  }

  .bm-cross {
    background: $boxColor;
  }

  .bm-menu {
    background: $buttonBorder;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-morph-shape {
    fill: $buttonBorder;
  }

  .bm-item-list {
    color: $buttonBorder;
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .line {
    border: 2px solid $registerBorderColor;
    margin: 1rem 0;
    width: 13rem;
  }

  .hello {
    font-style: italic;
    font-size: 0.9rem;
    font-family: $font-alt;
    color: $registerBorderColor;
  }
}

.headerMobile {
  display: flex;
  height: 30rem;
  flex-direction: column;
  margin: 3rem 2rem;

  &::before {
    content: "";
    background-image: url("./../../assets/Home-Hero-Image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
  }

  .mobileSubtitle {
    font-size: 1.5rem;
    font-family: $font-base;
    text-align: center;
    margin: 4rem 0;
  }

  .mobileTitle {
    text-align: left;
    font-size: 2.375rem;
    font-family: $font-base;
    font-weight: 500;
    letter-spacing: -0.76px;
    color: $buttonBorder;
    padding-bottom: 1.5625rem;
    line-height: 3.4375rem;
  }

  .headerButtons {
    justify-content: flex-end;
  }
}
