.loginNavigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 9.8rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  font-family: $font-base;

  @media only screen and (max-width: 670px) {
    font-size: 90%;
    height: 50rem;
    margin-top: 4rem;
  }

  h3 {
    letter-spacing: -0.8px;
    color: $buttonBorder;
    font-size: 2.5rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    line-height: 3.4375rem;

    @media only screen and (min-width: 1025px) {
      width: 30rem;
    }

    @media only screen and (max-width: 670px) {
      font-size: 1.7rem;
    }
  }

  img {
    margin: 2.5rem 0;
  }

  .loginFormProper {
    width: 50%;
    height: 16rem;
    background: $boxColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1025px) {
      width: 24.0625rem;
    }

    @media only screen and (max-width: 670px) {
      width: 90%;
    }

    .loginEmailName {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      span {
        color: $buttonBorder;
        font-family: $font-base;
        margin-bottom: 1rem;
      }

      input {
        height: 1.875rem;
        background: transparent;
        font-family: $font-base;
        font-size: 1.125rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $formBorderBottomColor;
        line-height: 1.5rem;
        opacity: 0.5;
      }
    }
  }

  .loginButtons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    font-size: 1.125rem;
    font-family: $font-base;
    font-weight: 300;

    @media only screen and (min-width: 1025px) {
      width: 30rem;
    }

    span {
      padding: 1rem;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    .logIn {
      border: 0.75px solid $buttonBorder;
    }
  }
}

.errorEmailMobile {
  border-top: 1px solid red;
  padding-top: 0.5rem;
  color: red;
  font-size: 0.8rem;
}