.registerFormProper {
  width: 50%;
  height: 22.5rem;
  background: $boxColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-base;

  @media only screen and (min-width: 1025px) {
    width: 24.0625rem;
  }

  @media only screen and (max-width: 670px) {
    width: 90%;
  }

  .registerEmailName {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    span {
      color: $buttonBorder;
      margin-bottom: 1rem;
    }

    input {
      height: 1.875rem;
      background: transparent;
      font-family: $font-base;
      font-size: 1.125rem;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $formBorderBottomColor;
      line-height: 1.5rem;
      opacity: 0.5;
    }
  }
}