.whoWeHelp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .whoWeHelpDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      padding-top: 4.375rem;
      padding-bottom: 2rem;
      letter-spacing: -0.76px;
      color: $buttonBorder;
      font-size: 2.375rem;
      font-family: $font-base;
    }

    .organizationType {
      margin: 3.875rem 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 670px) {
        flex-direction: column;
      }

      li {
        text-align: center;
        height: 30rem;
        width: 100%;
        font-family: $font-base;
        font-size: 1.25rem;
        line-height: 1.5rem;

        @media only screen and (max-width: 670px) {
          height: 19rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        span {
          margin: 0 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 10rem;
          height: 10rem;
          background: $registerBorderColor;
          border-radius: 50%;
        }

        p {
          padding: 1rem;
          width: 10rem;
          text-align: left;
          font-size: 1rem;
          font-family: $font-base;
          line-height: 1.5rem;

          @media only screen and (max-width: 670px) {
            width: 22rem;
          }
        }

        @media only screen and (min-width: 1025px) {
          width: 13rem;
          height: 100%;
          flex-direction: row;
          margin: 1rem 3rem;
          background: none;
          cursor: pointer;
          border-radius: 0;
          font-size: 1.5rem;
          padding: 2rem 1rem;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .organizationDescription {
      text-align: center;
      color: $buttonBorder;
      font-size: 1.375rem;
      font-family: $font-base;
      width: 40rem;
      margin-bottom: 4rem;
      line-height: 1.875rem;
      font-weight: 400;
    }
  }
}

.foundation {
  width: 70%;

  .foundationList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $formBorderBottomColor;

    .foundationName {

      h3 {
        color: $buttonBorder;
        font-family: $font-alt;
        font-size: 1.625rem;
        font-weight: 200;
        margin-bottom: 0.375rem;
      }

      p {
        color: $buttonBorder;
        font-size: 1.125rem;
        font-family: $font-alt;
        font-weight: 200;
      }
    }

    .foundationDonations {
      margin-right: 2rem;

      p {
        color: $buttonBorder;
        font-size: 1.125rem;
        font-family: $font-alt;
        font-weight: 200;
      }
    }
  }
}

.showButtonsStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDisplay {
  cursor: pointer;
  font-family: $font-base;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0.9375rem 0.8125rem;
  margin: 1rem 2.3125rem;
  background: transparent;
  border: none;

  &:hover {
    opacity: 0.5;
  }
}

.active {
  border: 1px solid $buttonBorder;
}

.registerTitle {
  width: 70%;
  font-size: 2rem;
  font-family: $font-base;
  font-weight: 400;
  letter-spacing: -0.76px;
  color: $buttonBorder;
  text-align: center;
  padding-bottom: 1.5625rem;
  line-height: 3.4375rem;
}

.registerButton {
  margin: 4rem 0;
  p {
    padding: 1rem 0.3rem;
    border: 0.75px solid $buttonBorder;
    font-size: 2.25rem;
    font-family: $font-base;
    font-weight: 300;
    text-transform: uppercase;
    width: 17rem;
    text-align: center;
  }
}

.buttonsAfterLogin {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0 1rem;
  }

  .firstButton {
    padding: 2.1rem 0;
  }


}