body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.page-wrapper {
  width: 100%;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100vw;
}

.pl {
  background-image: url("https://image.flaticon.com/icons/png/128/330/330474.png");
  background-size: contain;
}

.en {
  background-image: url("https://image.flaticon.com/icons/svg/1377/1377975.svg");
}